[submodule "expbridge/infra/ftraceparser"]
	path = expbridge/infra/ftraceparser
	url = https://github.com/plummm/ftraceparser.git
[submodule "expbridge/infra/SmartPatch"]
	path = expbridge/infra/SmartPatch
	url = https://github.com/plummm/SmartPatch.git
