[submodule "syzbridge/infra/ftraceparser"]
	path = syzbridge/infra/ftraceparser
	url = https://github.com/plummm/ftraceparser.git
[submodule "syzbridge/infra/SmartPatch"]
	path = syzbridge/infra/SmartPatch
	url = https://github.com/plummm/SmartPatch.git
